.hero{
     @include flex(column, 0, center, center);
     position: relative;
     min-height: 100vh;
     &__allProductsContainer{
          @include flex(row, 0, flex-end, center);
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          padding: 1rem;
          z-index: 2;
     }
     &__img{
          padding: 2rem;
          width: 100%;
          min-width: 5rem;
          max-width: 20rem;
          z-index: 1; 
     }
     &__heroItemContainer{
          @include flex(column, 0, center, center);
          width: 100%;
          z-index: 1;
          padding-top: 2.5rem;
     }
}
.bgDesign{
     position: absolute;
     z-index: 0;
     left: 0;
     width: 100%;
     max-width: 20rem;
     height: 100%;
     max-height: 64rem;
}
@media (min-width: 700px) {
     .hero{
          &__heroItemContainer{
               flex-direction: row;
               justify-content: space-between;
          }
          &__img{
               max-width: 37.5rem;   
          }
     }
}