.cards{
    display:  grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 20rem));
    justify-content: center;
    align-items: start;
    &__card{
        min-height: fit-content;

        background-color: white;
        border-radius: 1rem;
        overflow: hidden;
    }
    &__imgContainer{
        width: 100%;
        max-width: 20rem;
        max-height: 15rem;
        overflow: hidden;
    }
    &__img{
        width: 100%;
        max-width: 20rem;
        max-height: 15rem;
        transition: .5s, color .10s;
        &:hover {
            transform: scale3d(1.2, 1.2, 0.3);
        }
    }
    &__item{
        cursor: default;
        padding: 0.5rem 0.75rem;
    }
    &__itemInfo{
        @include flex (row, 0.5rem, start, center);
        flex-wrap: wrap;
    }
    &__itemInfoList {
        width: fit-content;
        border: thin solid;
        padding: 0.125rem;
    }
}

            
              