@import './global/reset/reset.scss';
@import './global/variables/variables.scss';


//fonts size
.text--homeTitle{
    font-family: var(--titleType);
    font-size: 4rem;
}
.text--title{
    font-family: var(--titleType);
    font-size: 2rem;
}
.text--subtitle{
    font-family: var(--mainType);
    font-size: 2rem;
}

