:root {
	/*Main*/
	--bg: #F5F7DC;
	--text: #2D2D2A;
	--primary: #FF7F11;
	/*Complement*/
	--accent: #499167;
	/*Neutral*/
	--blackTheme: #222222;
	--whiteTheme: #ececec;
	--shadowMain: #c9c9c9;
	--shadowSec: #ffffff;
	--blackBorder: #00000050;

	/* Typography*/
	--mainType: 'DMSans';
	--titleType: 'DMDisplay';
	--defaultSize: 1rem;
}
@font-face {
	font-family: 'DMSans';
	src: url('/public/assets/fonts/DMSans_18pt-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'DMDisplay';
	src: url('/public/assets/fonts/DMSerifDisplay-Regular.ttf');
	font-weight: 400;
}
/*Dark theme
@media (prefers-color-scheme: dark) {
  :root{
    --blackTheme    : #ececec;
    --whiteTheme    : #303030;
    --shadowMain    : #242424;
    --sahdowSec     : #3c3c3c;
    
    --blackBorder   : #FFFFFF50;
  }
};
*/
